<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div style="width: 800px;">
    <h2>
        {% if app_name != None %}
            {% if app_version != None %}
                {{app_name}} (v{{app_version}})
            {% else %}
                {{app_name}}
            {% endif %}

        {% else %}
            Crash Report
        {% endif %}
    </h2>
<hr>
    <p>A crash was detected on {{date}} at {{time}}.</p>
</div>

<div style="width: 800px;">
    <h4>Traceback (most recent call last):</h4>
    <b>
    {% for tb in traceback %}
        <DL style="background-color:#FFF099; border-style:solid; border-width: 1px; padding: 10px;" >
            File {{tb['file']}}, line: {{tb['line']}} in {{tb['module']|e}}
            <DD>
                {{tb['code']}}
            </DD>
        </DL>
    {% endfor %}
        <DL style="background-color:#FFF099; border-style:solid; border-width: 1px; padding: 10px " >

            <DD>
                {{error}}
            </DD>
        </DL>
    </b>

    <hr>

    <h4> Source Code</h4>
    <div style="background-color:#FFF099; border-style:solid; border-width: 1px; padding: 10px;">
        <ol start="{{source_code[0][0]}}">
            <li style="padding-left"> {{source_code[0][2]}}</li>
            {% for n, indent, line in source_code[1:] %}
                <li style="padding-left: {{indent}}px;">{{line}}</li>
            {% endfor %}
        </ol>
    </div>

    <hr>

    <table border="1" style="width:800px">
        <tr>
            <td align="center" colspan="2">
                <b>Local Variables in the scope of {{traceback[-1]['module']|e}}</b>
            </td>
        </tr>
        {% for field, value in localvars %}
            <tr>
                <td style="width:30%">{{ field|e }}</td>
                <td>{{ value|e }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>